button{
    margin: 5px;
    padding: 5px;
}

.title{
    color: var(--ion-color-tertiary)
}

.cabecera-pedido{
    margin: auto;
    width: 90%;
    height: auto;
    border: 1px solid #63828E;
    border-radius: 6px;
    padding: 7px;
    margin-bottom: 10px;
}

// .productos-pedido{
//     border: 1px solid #63828E;
//     border-radius: 6px;
//     padding: 2px;
// }