<app-menu titulo_seccion="Clientes" (onBuscar)="onBuscar($event)"></app-menu>


<ion-content>

  <ion-list>
    <ion-item (click)="abrirEditarCliente(cliente)" *ngFor="let cliente of clientes">
      <ion-note *ngIf="cliente.genero =='Femenino'" slot="start"><ion-icon size="large" name="woman"></ion-icon></ion-note>
      <ion-note *ngIf="cliente.genero =='Masculino'" slot="start"><ion-icon size="large" name="man"></ion-icon></ion-note>
      <ion-note slot="end"><ion-icon size="large" name="{{logoNombre(cliente.canal)}}"></ion-icon></ion-note>
      <ion-label>{{cliente.nombre}}</ion-label>
    </ion-item>
</ion-list>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button color="tertiary" (click)="abrirCrearCliente()"> 
    <ion-icon name="add"> + </ion-icon>
  </ion-fab-button>
</ion-fab>
  
</ion-content>
