<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid *ngIf="!mostrarCarrito">

     <ion-row *ngFor="let pedido of pedidos">
      <ion-col class="estado-pedido-{{pedido.estado}}" size="1"></ion-col>
      <ion-col>
        <ion-list>
          <ion-item button="true">
            <ion-label>{{pedido.cliente.nombre}}</ion-label>
            <ion-note (click)="irDetallePedido(pedido)" slot="end">Ver pedido</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Estado: {{pedido.estado | uppercase}}</ion-label>
            <ion-note slot="end"> {{pedido.fecha_entrega}}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Total</ion-label>
            <ion-note slot="end">{{pedido.calcularValorPedido() | currency}}</ion-note>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
     <hr class="separador-pedido-items">

  </ion-grid>

  <app-producto (emitePedido)="handlerPedidoEmit($event)" [ngClass]="{'d-none':!mostrarCarrito}"  [esCarrito]="true"> </app-producto>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="tertiary" (click)="abrirCrearPedido()"> 
      <ion-icon name="add"> + </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
